*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.*apk
.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
progaurd/
*.log
.naviagtion/
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
*.aab
/app/google-services.json
/app/src/release/res/values/google_maps_api.xml
